{% extends "MainLayout.html" %}

{% block title %}
  Carrello
{% endblock %}

{% block content %}
<section>
    <h1>Carrello</h1>
    {% if cookie|length > 0 %}
      <table class="striped centered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantità</th>
            <th>Prezzo</th>
            <th>Azione</th>
          </tr>
        </thead>
        <tbody>
          {% for key,weight in cookie %}
            <tr>
              {% for article in articles %}
              {% if article.id == key %}
              <td>{{ article.name }}</td>
              <td>{{ weight }} </td>
              <td>{{ "%.2f"|format(article.price * weight) }} €</td>
              <td class="button-block">
            
                <a class="grey-text modal-trigger" href="#deleteModal{{article.id}}"><i class="material-icons">remove_shopping_cart</i></a>
                <div id="deleteModal{{article.id}}" class="modal">
                  <div class="modal-content">
                    <p>Sei sicuro di voler eliminare {{ article.name }}?</p>
                  </div>
                  <div class="modal-footer">
                    <div class="button-block">
                      <a class="btn modal-close">Annulla</a>
                      <form class="" action="{{ link_to("/cart/" ~ article.id) }}" method="post">
                        <input type="hidden" name="_method"  value="DELETE" />
                        <input type="submit" name="submit"  value="Conferma" class="btn red" />
                      </form>
                    </div>
                  </div>
                </div>
              </td>
              {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
</section>
<section>
    <h1>Invia Ordine</h1>
    <form action="{{ link_to("/orders")  }}" method="post">
      <label for="appt-time">Scegli Orario </label>
      <input id="time" type="time" name="time" value="13:30" min="12:00" max="15:00">
      <select name="delivery_point">
        {% for point in points %}
        <option value="{{point.id}}">{{point.name}}</option>
        {% endfor %}
        <option disabled selected>Scegli luogo</option>
      </select>
      <input class="btn" type="submit" name="submitOrdine" id="submitOrdine" value="Conferma" />
    </form>
</section>
  {% else %}
    {% if orderSuccess %}
      <script>
        $( document ).ready(function() {
          M.toast({html: 'Ordine effettuato con successo!'});
        });
      </script>
    {% endif %}
    Nessun elemento presente</a>
  {% endif %}
{% endblock %}

