/* Materialize css overrides */
/*nav ul li.active {*/
  /*background-color: inherit;*/
/*}*/

/*nav ul a:hover {*/
  /*background-color: inherit;*/
/*}*/

/*nav ul:not(.sidenav) li:hover {*/
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.8);*/
/*}*/
input[type="email"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff9800;
  box-shadow:0 1px 0 0 #ff9800;
}

input[type="email"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ff9800;
}

input[type="password"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff9800;
  box-shadow:0 1px 0 0 #ff9800;
}

input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ff9800;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #ff9800;
  box-shadow:0 1px 0 0 #ff9800;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ff9800;
}

input[type="file"] + label {
  display: none;
}

select + label {
  display: none;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a i.material-icons {
  display: inline;
  font-size: 18px;
  line-height: 18px;
}

/* My style */
 * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  position: relative;
}

main {
  flex: 1;
}

footer {
  margin-top: 20px;
}

.homepage-header {
  background-image: url("../images/bg-small.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 330% auto;

  padding: 20px 0 60px;
  min-height: 100%;
  width: 100%;
}

.homepage-header .header-navigation {
  margin-top: 100px;
}

.homepage-header h1 {
  font-size: 32px;
}

nav.no-shadow {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.promo-section {
  margin-bottom: 60px;
}

.promo {
  margin-top: 60px;
}

.promo i {
  font-size: 70px;
}

.promo .promo-caption {
  font-weight: 500;
}

.svg {
  filter: invert(1);
  width: 14px;
  margin-right: 5px;
}

nav .brand-logo .svg {
  width: 22px;
}

nav .brand-logo {
  /*font-family: 'Exo 2', sans-serif;*/
  font-weight: 500;
  font-size: 30px;
  font-style: italic;
}

.form-box {
  padding: 50px 100px;
  width: 50%;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px 0 #ccc;
}

.button-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.button-block form {
  margin: 0;
  padding: 0;
}

.button-block .btn {
  margin-left: 5px;
}

.button-block .btn:first-child {
  margin-left: 0;
}

.modal .modal-footer .btn {
  margin: 6px 5px 6px 0;
}

.error-list {
  /*padding: 10px 20px;*/
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 30px;
  background-color: #FFF7F7
}

.my-collapsible .my-collapsible-header {
  display: flex;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  cursor: pointer;
}

.my-collapsible .my-collapsible-header span {
  flex: 1;
}

.my-collapsible .my-collapsible-body {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

table {
  table-layout: fixed;
}

th, td {
  text-align: center;
}

td.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td.button-block {
  display: table-cell;
}

.settings-form {
  margin-bottom: 20px;
}


@media only screen and (min-width: 601px) {

  .homepage-header {
    min-height: 0;
    height: 450px;

    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  table img.responsive-img {
    /*height: 200px;*/
    /*width: auto;*/
  }
}
