{% extends "admin/Base.html" %}

{% block title %}
  Elenco ristoranti
{% endblock %}

{% block header %}
  <h1>Elenco ristoranti</h1>
{% endblock %}

{% block main %}
  {% if users|length > 0 %}
    <table class="striped centered">
      <thead>
        <tr>
          <th>Ristorante</th>
          <th>Abilitato</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td><a href="{{ link_to('/users/' ~ user.id) }}">{{ user.restaurantName }}</a></td>
            <td>{{ user.restaurantEnabled ? "<i class=\"material-icons grey-text\">check</i>" :
              "<i class=\"material-icons grey-text\">clear</i>"}} </td>
            <td>
              <a class="grey-text" href="{{ link_to("/users/" ~ user.id ~ "/edit") }}"><i class="material-icons">edit</i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination center">
      {% for page in pages %}
      <li class="{{ page == currentPage ? "active" : "" }}"><a href="{{ link_to('/users/?page=' ~ page) }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    Nessun utente presente.
  {% endif %}
{% endblock %}

{% block aside %}
  {{ include('admin/aside.html', {active: 1}, with_context = false) }}
{% endblock %}
