{% extends "admin/Base.html" %}

{% block title %}
  Modifica {{user.restaurantName}}
{% endblock %}

{% block header %}
  <h1> Modifica {{user.restaurantName}} </h1>
{% endblock %}

{% block main %}
<form action="{{ link_to("/users/" ~ user.id) }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="_method" id="_method" value="PUT" />
  <div class="input-field">
    <input disabled="disabled" type="text" name="restaurant_name" id="restaurant_name" value="{{ user.restaurantName }}" />
    <label for="restaurant_name">Nome del ristorante</label>
  </div>
  <div class="input-field">
    <input disabled="disabled" type="email" name="email" id="email" value="{{ user.email }}" />
    <label for="email">Email</label>
  </div>
  <div class="input-field">
    <input disabled="disabled" type="text" name="restaurant_address" id="restaurant_address" value="{{ user.restaurantAddress }}" />
    <label for="restaurant_address">Indirizzo</label>
  </div>
  <div class="input-field">
    <div class="switch">
      <label>
        Disabilitato 
        <input {{ user.restaurantEnabled ? "checked=\"checked\"" : ""}} type="checkbox"
          name="enabled" id="enabled" value="true" />
        <span class="lever"></span>
        Abilitato
      </label>
    </div>
  </div>
  <input class="btn right" type="submit" name="submit" id="submit" value="Invia" />
  <a class="btn red right" style="margin-right: 5px" href="{{ link_to("/users/") }}">Annulla</a>
</form>
{% endblock main %}

{% block aside %}
  {{ include('admin/aside.html', {active: 1}, with_context = false) }}
{% endblock %}
