{% set categories = [{ 
  id: 0,
  name: 'Categorie',
  url: '/categories/'
},
{
  id: 1,
  name: 'Ristoranti',
  url: '/users/'
},
{
  id: 2,
  name: 'Punti di consegna',
  url: '/delivery_points/'
}] %}

<div class="collection">
  {% for category in categories %}
  <a class="{{ category.id == active ? "active" : "" }} collection-item" href="{{ link_to(category.url)}}">{{ category.name }}</a>
  {% endfor %}
</div>
