{% extends "MainLayout.html" %}

{% block content %}
  {% block header %}
  {% endblock %}
  <div class="row">
    <div class="col s12 m9 l10">
      {% block main %}
      {% endblock %}
    </div>
    <aside class="col s12 m3 l2">
      {% block aside %}
      {% endblock %}
    </aside>
    
  </div>  
{% endblock content %}
