{% extends "admin/Base.html" %}

{% block title %}
  Elenco categorie
{% endblock %}

{% block header %}
  <h1>Elenco categorie</h1>
{% endblock %}

{% block main %}
  <a href="{{ link_to("/categories/insert") }}">Nuova categoria</a>
  {% if categories|length > 0 %}
    <table class="striped centered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Abilitata</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.enabled ? "<i class=\"material-icons grey-text\">check</i>" :
              "<i class=\"material-icons grey-text\">clear</i>"}} </td>
            <td class="button-block">
              <a class="grey-text" href="{{ link_to("/categories/" ~ category.id ~ "/edit") }}"><i class="material-icons">edit</i></a>
              <a class="grey-text modal-trigger" href="#deleteModal{{category.id}}"><i class="material-icons">delete</i></a>
              <div id="deleteModal{{category.id}}" class="modal">
                <div class="modal-content">
                  <p>Sei sicuro di voler eliminare {{ category.name }}?</p>
                </div>
                <div class="modal-footer">
                  <div class="button-block">
                    <a class="btn modal-close">Annulla</a>
                    <form class="" action="{{ link_to("/categories/" ~ category.id) }}" method="post">
                      <input type="hidden" name="_method"  value="DELETE" />
                      <input type="submit" name="submit"  value="Conferma" class="btn red" />
                    </form>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination center">
      {% for page in pages %}
      <li class="{{ page == currentPage ? "active" : "" }}"><a href="{{ link_to('/categories/?page=' ~ page) }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    Nessuna categoria presente, <a href="{{ link_to("/categories/insert") }}">crea una nuova categoria.</a>
  {% endif %}
{% endblock %}

{% block aside %}
  {{ include('admin/aside.html', {active: 0}, with_context = false) }}
{% endblock %}
