{% extends "admin/Base.html" %}

{% block title %}
  Modifica categoria
{% endblock %}

{% block header %}
  <h1>Modifica categoria</h1>
{% endblock %}

{% block main %}
{{ include('categories/errors.html', {errors: errors} , with_context = false) }}
<form action="{{ link_to("/categories/" ~ category.id) }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="_method" id="_method" value="PUT" />
  <div class="input-field">
    <input type="text" name="name" id="name" value="{{ category.name }}" />
    <label for="name">Nome</label>
  </div>
  <div class="input-field">
    <div class="switch">
      <label>
        Disabilitato 
        <input {{ category.enabled ? "checked=\"checked\"" : ""}} type="checkbox"
          name="enabled" id="enabled" value="true" />
        <span class="lever"></span>
        Abilitato
      </label>
    </div>
  </div>
  <input class="btn right" type="submit" name="submit" id="submit" value="Invia" />
  <a class="btn red right" style="margin-right: 5px" href="{{ link_to("/categories/") }}">Annulla</a>
</form>
{% endblock %}

{% block aside %}
  {{ include('admin/aside.html', {active: 0}, with_context = false) }}
{% endblock aside %}
