{% extends "admin/Base.html" %}

{% block title %}
  Nuova categoria
{% endblock %}

{% block header %}
  <h1>Nuova categoria</h1>
{% endblock %}

{% block main %}
  {{ include('categories/errors.html', {errors: errors} , with_context = false) }}
  <form action="{{ link_to("/categories/" ~ category.id) }}" method="post" accept-charset="utf-8">
  <div class="input-field">
    <input type="text" name="name" id="name" value="" />
    <label for="name">Nome</label>
  </div>
  <input class="btn right" type="submit" name="submit" id="submit" value="Invia" />
  <a class="btn red right" style="margin-right: 5px" href="{{ link_to("/categories/") }}">Annulla</a>
  </form>
{% endblock %}

{% block aside %}
  {{ include('admin/aside.html', {active: 0}, with_context = false) }}
{% endblock aside %}
