{% extends "admin/Base.html" %}

{% block title %}
  Modifica articoli
{% endblock title %}

{% block header %}
<h1>Modifica Articoli</h1>
{% endblock header %}

{% block main %}
<a href="{{ link_to("/articles/insert") }}">Nuovo Articolo</a>
{{ include('articles/errors.html', {errors: errors} , with_context = false) }}
<table class="striped centered">
  <thead>
    <tr>
      <th>Articolo</th>
      <th>Categoria</th>
      <th>Prezzo</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
      <tr>
        {% import "utils.html" as utils %}
        <td class="vertical-align">
         <span>{{ article.name }}</span>
         {{ utils.articleImage(article.getImagePath(), "responsive-img") }}
        </td>
        <td>{{ article.category.getName() }}</td>
        <td>{{ "%.2f"|format(article.price) }} €</td>
        <td class="button-block">
          <a class="grey-text" href="{{ link_to("/articles/" ~ article.id ~ "/edit") }}"><i class="material-icons">edit</i></a>
          <a class="grey-text modal-trigger" href="#deleteModal{{article.id}}"><i class="material-icons">delete</i></a>
          <div id="deleteModal{{article.id}}" class="modal">
            <div class="modal-content">
              <p>Sei sicuro di voler eliminare {{ article.name }}?</p>
            </div>
            <div class="modal-footer">
              <div class="button-block">
                <a class="btn modal-close">Annulla</a>
                <form class="" action="{{ link_to("/articles/" ~ article.id) }}" method="post">
                  <input type="hidden" name="_method"  value="DELETE" />
                  <input type="submit" name="submit"  value="Conferma" class="btn red" />
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block aside %}
<div class="collection">
  <a class="active collection-item" href="{{ link_to('/users/' ~ get_current_user_id())}}">Modifica articoli</a>
  <a class="collection-item" href="{{link_to('/orders')}}">Lista ordini</a> 
  <a class="collection-item" href="{{link_to('/orders?processed=1')}}">Ordini evasi</a> 
  <a class="collection-item" href="{{ link_to('/users/' ~ get_current_user_id() ~ '/edit')}}">Modifica impostazioni account</a> 
</div>
{% endblock aside %}
