{% extends "MainLayout.html" %}

{% block title %}
  Nuovo articolo
{% endblock title %}

{% block content %}
  <h1>Modifica articolo</h1>
  {{ include('articles/errors.html', {errors: errors} , with_context = false) }}
  <form action="{{ link_to("/articles/" ~ article.id) }}" method="post" accept-charset="utf-8" enctype="multipart/form-data" >
    <input type="hidden" name="_method" id="_method" value="PUT" />
    <p>Non caricare nessun'immagine se non intendi aggiornarla.</p>
    <input type="file" name="image" id="image" />
    <div class="input-field">
      <input type="text" id="name" name="name" value="{{article.name}}"/>
      <label for="name">Inserisci nome</label> 
    </div>
    <div class="input-field">
      <select id="category" name="category">
      {% for category in categories %}
        <option {{ article.categoryId == category.id ? "selected" : ""}} value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
        <option value="" disabled>Seleziona Categoria :</option> 
      </select>
      <label for="category"> Scegli categoria : </label>
    </div>
    <div class="input-field">
      <input type="number" step="0.01" id="price" name="price" value="{{ "%.2f"|format(article.price) }}"/>
      <label for="price">Inserisci prezzo</label> 
    </div>
    <div class="button-block">
      <a class="btn red" href="{{ link_to('/users/' ~ get_current_user_id()) }}">Annulla</a>
      <input class="btn" type="submit" name="submit" id="submit" value="Invia" />
    </div>
  </form>
{% endblock %}
