{% extends "MainLayout.html" %}

{% block title %}
  Ricerca prodotti
{% endblock title %}

{% block content %}
  <h1>Ricerca Ristoranti</h1>
  <div class="my-collapsible">
    <div class="my-collapsible-header">
      <span style="font-size: 20px; font-weight: 500; flex: 1">Filtra</span>
      <a href="#" class="my-collapsible-trigger"><i class="black-text material-icons">keyboard_arrow_down</i></a>
    </div>
    <div class="my-collapsible-body" hidden>
      <form action="{{ link_to("/shop/") }}" method="get">
        <div class="input-field">
          <input type="text" id="food" name="food" />
          <label for="food">Inserisci nome cibo</label> 
        </div>
        <div class="input-field">
          
          <select id="category" name="category">
              {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
              {% endfor %}
                <option value="" selected>Seleziona categoria</option> 
          </select>
          <label for="category"> Scegli categoria : </label>
             
        </div>
        <div class="input-field">
          <input type="text" id="restaurant" name="restaurant" />
          <label for="restaurant">Inserisci fornitore</label> 
        </div>
        <input class="btn" type="submit" id="search" name="search" value="Cerca">
      </form>
    </div>
  </div>
  <script>
    var collapsibleBody = $( ".my-collapsible-body" );
    open = false;
    icon_open = "keyboard_arrow_down";
    icon_close = "keyboard_arrow_up";
    $( ".my-collapsible-header" ).click(function() {
      if (open === true) {
        collapsibleBody.slideUp();
        $( ".my-collapsible-trigger i.material-icons" ).html(icon_open);
        open = false;
      } else {
        collapsibleBody.slideDown();
        $( ".my-collapsible-trigger i.material-icons" ).html(icon_close);
        open = true;
      }
    });
  </script>
  {% if shops|length > 0 %}
    <table class="center striped">
      <thead>
        <tr>
          <th colspan="2">Ristorante</th>
          <th>Indirizzo del ristorante</th>
        </tr>
      </thead>
      <tbody>
        {% for shop in shops %}
        <tr>
          {% import "utils.html" as utils %}
          <td><a href="{{ link_to("/users/" ~ shop.id) }}">{{ utils.userImage(shop.getImagePath(), "responsive-img") }}</a></td>
          <td><a href="{{ link_to("/users/" ~ shop.id) }}">{{ shop.getRestaurantName() }}</a></td>
          <td>{{ shop.getRestaurantAddress }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>La ricerca non ha prodotto risultati.</p>
  {% endif %}

{% endblock content %}
