{% extends "MainLayout.html" %}

{% block title %}
  Accedi
{% endblock %}

{% block content %}
  <h1> Accedi </h1>
  {{ include('authentication/errors.html', {errors: errors} , with_context = false) }}
  <form action="{{link_to("/login")}}" method="post" accept-charset="utf-8">
    <div class="input-field">
      <input type="email" name="email" id="email" value="" />
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="password" name="password" id="password" value="" />
      <label for="password">Password</label>
    </div>
    <input class="btn" type="submit" name="submit" id="submit" value="Accedi" />
  </form>
{% endblock %}

