{% extends "MainLayout.html" %}

{% block title %}
  Registrati
{% endblock %}

{% block content %}
  <h1>Registrati</h1>
  {{ include('authentication/errors.html', {errors: errors} , with_context = false) }}
  <form action="{{link_to("/signup")}}" method="post" accept-charset="utf-8">
    <div class="input-field">
      <input type="email" name="email" id="email" value="" />
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="password" name="password" id="password" value="" />
      <label for="password">Password</label>
    </div>
    <div class="input-field">
      <input type="password" name="password_confirmation" id="password_confirmation" value="" />
      <label for="password_confirmation">Conferma password</label>
    </div>
    <div class="input-field">
      <div class="switch">
        <label>
          <input type="checkbox" name="is_restaurant" id="is_restaurant" value="true" />
          <span class="lever"></span>
          Sono un ristoratore
        </label>
      </div>
    </div>
    <div class="input-field restaurant-field">
      <input type="text" value="" name="restaurant_name" id="restaurant_name"/>
      <label for="restaurant_name">Nome del ristorante</label>
    </div>
    <div class="input-field restaurant-field">
      <input type="tel" value="" name="restaurant_tel" id="restaurant_tel"/>
      <label for="restaurant_tel">Numero di telefono</label>
    </div>
    <div class="input-field restaurant-field">
      <input type="text" value="" name="restaurant_address" id="restaurant_address"/>
      <label for="restaurant_address">Indirizzo</label>
    </div>
    <input class="btn" type="submit" name="submit" id="submit" value="Registrati" />
  </form>

  <script>
    $( document ).ready(function() {
      var restaurantFields = $( ".restaurant-field" );
      restaurantFields.hide();

      $( "#is_restaurant" ).change(function() {
        if (this.checked) {
          restaurantFields.slideDown();
        } else {
          restaurantFields.slideUp();
        }
      });
    });
  </script>

{% endblock %}

