{% extends "MainLayout.html" %}

{% block title %}
  Ristorante
{% endblock title %}

{% block content %}
  <h1>{{ user.restaurantName }}</h1>
  
  <table>
    <thead>
      <tr>
        <th>Articolo</th>
        <th>Categoria</th>
        <th>Prezzo</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          {% import "utils.html" as utils %}
          <td class="vertical-align">
            <span>{{article.name}}</span>
            {{ utils.articleImage(article.getImagePath(), "responsive-img") }} 
          </td>
          <td>{{ article.category.name }}</td>
          <td>{{ "%.2f"|format(article.price) }} €</td>
          <td><a href="{{ link_to("/cart/" ~ article.id) }}"><i class="material-icons black-text">add_shopping_cart</i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
