{% extends "Layout.html" %}

{% block title %}
  Homepage
{% endblock %}
{% block container %}
  <header class="homepage-header">
    <nav class="transparent no-shadow">
      <div class="nav-wrapper container">
        <a class="brand-logo" href="{{ link_to('/') }}"><img class="svg" alt="Logo Delivery" src="{{ link_to('/public/icons/van.svg') }}" />Delivery</a>
        <a class="sidenav-trigger" data-target="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% if is_logged_in() %}
            {% if is_admin() %}
              <li>
                <a href="{{ link_to("/categories/") }}" ><i class="material-icons">build</i></a>
              </li>
            {% else %}
              {% if is_restaurant() %}
              <li><a href="{{ link_to("/users/" ~ get_current_user_id()) }}"><i class="material-icons">settings</i></a></li>
              {% else %}
              <li><a href="{{ link_to("/cart/") }}"><i class="material-icons">shopping_cart</i></a></li>
              {% endif %}
            {% endif %}
          <li><a href="#">
              {{ is_restaurant() ? get_current_user_restaurant_name() : get_current_user_email() }}
          </a></li>
            <li><a href="{{ link_to("/logout") }}">Esci</a></li>
          {% else %}
            <li><a href="{{ link_to("/login") }}">Accedi</a></li>
            <li><a href="{{ link_to("/signup") }}">Registrati</a></li>
          {% endif %}
        </ul>
        <ul id="mobile-demo" class="sidenav grey darken-4">
          {% if is_logged_in() %}
            {% if is_admin() %}
              <li><a class="white-text" href="{{ link_to("/admin") }}" ><i class="white-text material-icons">build</i> Administrator</a></li>
            {% else %}
              {% if is_restaurant() %}
              <li><a class="white-text" href="{{ link_to("/users/" ~ get_current_user_id()) }}"><i class="white-text material-icons">settings</i> Impostazioni</a></li>
              {% else %}
              <li><a class="white-text" href="{{ link_to("/cart/") }}"><i class="white-text material-icons">shopping_cart</i> Carrello</a></li>
              {% endif %}
            {% endif %}
            <li><a class="white-text" href="#">{{ get_current_user_email() }}</a></li>
            <li><a class="white-text" href="{{ link_to("/logout") }}">Esci</a></li>
          {% else %}
            <li><a class="white-text" href="{{ link_to("/login") }}">Accedi</a></li>
            <li><a class="white-text" href="{{ link_to("/signup") }}">Registrati</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="white-text center">Registrati in un istante ed effettua subito il tuo primo ordine!</h1>
      {% if not is_logged_in() %}
        <div class="hide-on-small-only center">
            <a class="btn orange" href="{{ link_to('/signup') }}">Vai alla registrazione</a>
            <p class="white-text">
            Possiedi già un account? 
            <a class="blue-text text-lighten-2" href="{{ link_to('/login') }}"><strong>Accedi</strong></a>
            </p>
            <!--<p class="white-text">o se possiedi già un account</p>-->
            <!--<a class="btn orange" href="{{ link_to('/login') }}">Accedi</a>-->
        </div>
        <div class="hide-on-med-and-up header-navigation center">
          <a class="btn orange" href="{{ link_to('/signup') }}">Vai alla registrazione</a>
          <!--<p class="white-text">o se possiedi già un account</p>-->
          <!--<a class="btn orange" href="{{ link_to('/login') }}">Accedi</a>-->
            <p class="white-text">
            Possiedi già un account? 
            <a class="blue-text text-lighten-2" href="{{ link_to('/login') }}"><strong>Accedi</strong></a>
            </p>
        </div>
      {% else %}

      <div class="center">
        {% if is_restaurant() %}
          <a class="btn orange" href="{{ link_to("/users/" ~ get_current_user_id()) }}">Vai al tuo profilo</a>
        {% elseif not is_admin() %}
          <a class="btn orange" href="{{ link_to("/shop/") }}">Vai alla ricerca</a>
        {% else %}
          <a class="btn orange" href="{{ link_to("/categories/") }}">Vai al pannello di controllo</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </header>
  <main>
    <section class="promo-section container">
      <div class="row">
        <div class="col s12 m4">
          <div class="promo center">
            <i class="material-icons">flash_on</i>
            <p class="promo-caption center">Ordina in un'instante</p>
            <p class="light center">Effettuare un ordine &egrave; facilissimo e la consegna avviene entro mezz'ora.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="promo center">
            <i class="material-icons">fastfood</i>
            <p class="promo-caption center">Ampia variet&agrave; di cibi</p>
            <p class="light center">Possibilit&agrave; di scegliere tra i migliori ristoratori della zona.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="promo center">
            <i class="material-icons">place</i>
            <p class="promo-caption center">Consegna dove vuoi</p>
            <p class="light center">Le consegne vengono effettuate direttamente nell'aula o laboratorio che preferisci.</p>
          </div>
        </div>
      </div>
    </div>
    </section>
  </main>
  


  <!--Hello {{ is_logged_in() ? get_current_user_email() : "sconosciuto" }}-->
  <!--<br/>-->
  <!--<a href="{{ link_to("/articles/") }}">Articles</a></li>-->
  <!--<p>Se sei fornitore puoi aggiungere articles</p>-->
{% endblock %}


