<!DOCTYPE html>
<html lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="theme-color" content="#000000" />
  <link rel="icon" href="{{ link_to('/public/icons/icon16x16.png') }}">

  <title>Delivery - {% block title %}{% endblock %}</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,500i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ link_to('/public/css/materialize.min.css') }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ link_to('/public/css/style.css') }}" type="text/css" media="all" />

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ link_to('/public/js/jquery-2.1.1.min.js') }}"></script>
  <script src="{{ link_to('/public/js/materialize.min.js') }}"></script>
  <script src="{{ link_to('/public/js/init.js') }}"></script>
</head>
<body>
  {% block container %}
  {% endblock container %}
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <h4 class="white-text">Info</h4>
          <p class="">Chi siamo</p>
          <p class="">Dove lavoriamo</p>
          <p class="">Contatti</p>
          <p class="">Lavora con noi</p>
        </div>
        <div class="col s12 m4">
          <h4 class="white-text">Social</h4>
          <p class=""><img class="svg" alt="Logo Instagram" src="{{ link_to('/public/icons/instagram.svg') }}"/>Instagram</p>
          <p class=""><img class="svg" alt="Logo Facebook" src="{{ link_to('/public/icons/facebook.svg') }}"/>Facebook</p>
          <p class=""><img class="svg" alt="Logo Twitter" src="{{ link_to('/public/icons/twitter.svg') }}" />Twitter</p>
        </div>
        <div class="col s12 m4">
          <h4 class="white-text">About the developers</h4>
          <p class="">Chi siamo</p>
          <p class="">Cosa vogliamo</p>
          <p class="">Cosa devi darci</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Text
      </div>
    </div>
  </footer>
</body>
</html>
