{% extends "Layout.html" %}

{% block container %}
  <header>
   <nav class="orange" >
    <div class="nav-wrapper container">
      <a class="brand-logo" href="{{ link_to("/") }}"><img class="svg" alt="Logo Delivery" src="{{ link_to('/public/icons/van.svg') }}" />Delivery</a>
      <a class="sidenav-trigger" href="#" data-target="mobile-menu"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if is_logged_in() %}
          {% if is_admin() %}
            <li><a href="{{ link_to("/categories/") }}" ><i class="material-icons">build</i></a></li>
          {% else %}
            {% if is_restaurant() %}
            <li><a href="{{ link_to("/users/" ~ get_current_user_id()) }}"><i class="material-icons">settings</i></a></li>
            {% else %}
            <li><a href="{{ link_to("/shop/") }}">Ricerca ristoranti</a></li>
            <li><a href="{{ link_to("/cart/") }}"><i class="material-icons">shopping_cart</i></a></li>
            {% endif %}
          {% endif %}
          <li><a href="#">
              {{ is_restaurant() ? get_current_user_restaurant_name() : get_current_user_email() }}
          </a></li>
          <li><a href="{{ link_to("/logout") }}">Esci</a></li>
        {% else %}
          <li><a href="{{ link_to("/login") }}">Accedi</a></li>
          <li><a href="{{ link_to("/signup") }}">Registrati</a></li>
        {% endif %}
      </ul>
      <ul id="mobile-menu" class="sidenav grey darken-4">
        {% if is_logged_in() %}
          {% if is_admin() %}
            <li><a class="white-text" href="{{ link_to("/admin") }}" ><i class="white-text material-icons">build</i> Administrator</a></li>
          {% else %}
            {% if is_restaurant() %}
            <li><a class="white-text" href="{{ link_to("/users/" ~ get_current_user_id()) }}"><i class="white-text material-icons">settings</i> Impostazioni</a></li>
            {% else %}
            <li><a class="white-text" href="{{ link_to("/cart/") }}"><i class="white-text material-icons">shopping_cart</i> Carrello</a></li>
            {% endif %}
          {% endif %}
          <li><a class="white-text" href="#">{{ get_current_user_email() }}</a></li>
          <li><a class="white-text" href="{{ link_to("/logout") }}">Esci</a></li>
        {% else %}
          <li><a class="white-text" href="{{ link_to("/login") }}">Accedi</a></li>
          <li><a class="white-text" href="{{ link_to("/signup") }}">Registrati</a></li>
        {% endif %}
      </ul>
    </div>
   </nav>     
  </header>  
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
{% endblock container %}
