{% extends "admin/Base.html" %}

{% block title %}
Elenco ordinazioni {{ processed ? "evase" : "" }}
{% endblock title %}

{% block header %}
  <h1>Elenco ordinazioni {{ processed ? "evase" : "" }}</h1>
{% endblock header %}

{% block main %}
  {% if orders|length > 0 %}
  <table class="center striped">
    <thead>
      <tr>
        <th># Ordine</th>
        <th>Data</th>
        <th>Ora di consegna</th>
        <th>Dettagli</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.deliveryTime|date("d/m/Y") }}</td>
        <td>{{ order.deliveryTime|date("H:i") }}</td>
        <td><a href="{{ link_to('/orders/' ~ order.id) }}">Visualizza</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul class="pagination center">
    {% set processedAttribute = processed ? "&processed=1" : "" %}
    {% for page in pages %}
    <li class="{{ page == currentPage ? "active" : "" }}"><a href="{{ link_to('/orders?page=' ~ page ~ processedAttribute) }}">{{ page }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Nessun ordine da visualizzare.</p>
  {% endif %}
{% endblock main %}

{% block aside %}
<div class="collection">
  <a class="collection-item" href="{{ link_to('/users/' ~ get_current_user_id())}}">Modifica articoli</a>
  <a class="{{ processed ? "" : "active"}} collection-item" href="{{link_to('/orders')}}">Lista ordini</a> 
  <a class="{{ processed ? "active" : ""}} collection-item" href="{{link_to('/orders?processed=1')}}">Ordini evasi</a> 
  <a class="collection-item" href="{{ link_to('/users/' ~ get_current_user_id() ~ '/edit')}}">Modifica impostazioni account</a> 
</div>
{% endblock aside %}
