{% extends "admin/Base.html" %}

{% block title %}
Ordinazione #{{ order.id }}
{% endblock title %}

{% block header %}
  <h1>Ordinazione #{{ order.id }}</h1>
{% endblock header %}

{% block main %}
<div>
  <section>
    <h2>Dati ordinazione</h2>
    <p><strong>Email:</strong> {{ order.getClient().email }}</p>
    <p><strong>Data:</strong> {{ order.deliveryTime|date("d/m/Y") }}</p>
    <p><strong>Ora:</strong> {{ order.deliveryTime|date("H:i") }}</p>
  </section>
  <section>
    <h2>Elenco prodotti</h2>
    <ul>
      
    {% set total = 0 %}
    {% for orderItem in order.getOrderItems() %}
    {% set total = total + orderItem.weight * orderItem.getArticle().price %}
    <li>{{ orderItem.weight }} x {{ orderItem.getArticle().name }}</li>
    {% endfor %}
    </ul>
  </section>
  <section>
    <h2>Totale</h2>
    {{ "%.2f"|format(total) }}€
    {% if not order.processed %}
      <div style="margin: 10px 0">
        <form action="{{ link_to('/orders/' ~ order.id) }}" method="post" accept-charset="utf-8">
          <input type="hidden" name="_method" id="_method" value="PUT" />
          <input class="btn" type="submit" value="Evadi" name="submit" id="submit"/>
        </form>
      </div>
    {% else %}
      <p>Quest'ordine &egrave; gi&agrave; stato evaso.</p>
    {% endif %}
  </section>
</div>

{% endblock main %}

{% block aside %}
<div class="collection">
  <a class="collection-item" href="{{ link_to('/users/' ~ get_current_user_id())}}">Modifica articoli</a>
  <a class="{{ order.processed ? "" : "active"}} collection-item" href="{{link_to('/orders')}}">Lista ordini</a> 
  <a class="{{ order.processed ? "active" : ""}} collection-item" href="{{link_to('/orders?processed=1')}}">Ordini evasi</a> 
  <a class="collection-item" href="{{ link_to('/users/' ~ get_current_user_id() ~ '/edit')}}">Modifica impostazioni account</a> 
</div>
{% endblock aside %}
