{% extends "admin/Base.html" %}

{% block title %}
  Modifica profilo utente
{% endblock title %}

{% block header %}
  <h1>Modifica profilo utente</h1>
{% endblock header %}

{% block main %}
  <form class="settings-form" action="{{ link_to('/users/' ~ user.id) }}" method="POST" accept-charset="utf-8" enctype="multipart/form-data" >
    <input type="hidden" name="_method" id="_method" value="PUT" />
    <h2>Cambio immagine</h2>
    <p>Non inviare una nuova immagine se non si intende cambiarla.</p>
    {% import "utils.html" as utils %}
    <div style="max-width: 600px; height: auto">
      {{ utils.userImage(user.getImagePath(), "responsive-img") }}
    </div>
    <div class="input-field">
    <input type="file" name="image" id="image" value="" />
    <label for="image"> Seleziona immagine : </label>
    </div>
    <input class="btn" type="submit" name="submit" id="submit" value="Invia" />
  </form>
{% endblock main %}

{% block aside %}
<div class="collection">
  <a class="collection-item" href="{{ link_to('/users/' ~ get_current_user_id())}}">Modifica articoli</a>
  <a class="collection-item" href="{{link_to('/orders')}}">Lista ordini</a> 
  <a class="collection-item" href="{{link_to('/orders?processed=1')}}">Ordini evasi</a> 
  <a class="active collection-item" href="{{ link_to('/users/' ~ user.id ~ '/edit')}}">Modifica impostazioni account</a> 
</div>
{% endblock aside %}
